*{
  margin: 0;
  padding: 0;
}
.first{
  background: aqua;
  color: tomato;
  line-height: 2rem;
  border: 2px solid black;
  border-radius: 5px;
  border-bottom: 10px;
  padding: 5px 5px;
  font-family: sans-serif;
}
h1,h2,h3,p{
  margin: 20px 10px;
}
p{
  font-size: 15px;
}
img {
	margin: 20px 10px;
	padding: 0px;
}